#HW_4

1. Отобразить все процессы в системе
2. Запустить бесконечный процесс в фоновом режиме
3. Убедиться, что процесс продолжил работу после завершения сессии
4. Убить процесс, запущенный в фоновом режиме
5. Написать свой сервис под управлением systemd, добавить его в автозагрузку (можно использовать процесс из п.2
6. Посмотреть логи своего сервиса.

**
7. Написать скрипт, который выводит следующую информацию (можно переиспользовать предыдущее дз):
кол-во процессов запущенных из под текущего пользователя
load average за 15 минут
кол-во свободной памяти
свободное место в рутовом разделе “/”
8. Добавить в cron задачу, которая будет каждые 10 минут писать в файл результаты выполнения скрипта из п.7

***
9. сделать п. 5 для node-exporter https://github.com/prometheus/node_exporter

 ** и ***не обязательные  Дедлайн: 24/07/2023