<?php
$db_hostname = "localhost";
$db_port     = 3306;
$db_database = "{{ mysql_db_name }}";
$db_username = "{{ mysql_user }}";
$db_password = "{{ mysql_user_password }}";

$storage_option = "hd";
$hd_folder  = "uploads";

$latency = 0;

$enable_cache = true;
$cache_server = "localhost";
?>