Создать на GitHub репозиторий  для домашних работ. Соответственно сдаем в формате ссылки на директорию с текущим дз
HW_1
HW_2
etc..

Home Work 1
Развернуть две виртуальные машины(кто еще не сделал, можно последовательно)
- Ubuntu 
- Centos 
1. Произвести минимальную настройку (время, локаль, custom motd)
2. Определить точную версию ядра.
3. Вывести список модулей ядра и записать в файл
4. Просмотреть информацию о процессоре и модулях оперативной памяти 
5. Получить информацию о жестком диске
6. Добавить в виртуальную машину второй сетевой интерфейс (вывести информацию о нем в виртуалках)

 **
7. Узнать полную информацию об использованной и неиспользованной памяти
8. Создать пользователя new_admin_user, Настроить ssh доступ пользователю по ключу на VM, запретить ему авторизацию по паролю
9. Вывести список файловых систем, которые поддерживаются ядром

***
10. Настроить образ так чтобы при разворачивании системы автоматически создавался пользователем default_admin_user с ssh доступом 

 ** и *** не обязательны к выполнению. Задачи на интерес

Дедлайн: 10/07/2023