#HW_2
1. Смонтировать /home на отдельный раздел
2. Создать нового пользователя user_with_group с home-директорией /var/home/user
3. Создать новую группу пользователей priv_group, перенести в нее пользователя user_with_group
4. Cоздать директорию и выдать права на нее только группе это пользователя
5. Установить ntpd(chrony), разрешить пользователю user_with_group выполнять команду 
systemctl restart chronyd (нужны права sudo)

 **
6. Вывод команды iostat -x в последней колонке показывает загрузку дисков в процентах. Откуда утилита это понимает?
 Достаточно ли вывода команды iostat -x для того, чтобы оценить реальную нагрузку на диски,  или нужны дополнительные условия или ключи?

***
7. chmod -x $(which chmod) 
выполнить на виртуальной машине (!) исправить не прибегая к скачиванию\копированию с другого хоста


 ** и *** не обязательные
Дедлайн: 13/07/2023