#HW_3

1. Создать bash-скрипт собирающий данные о количестве свободной памяти, текущей загрузке процессора, ip-адрес, вывести в формате «Ключ: значение», причем все ключи заменить на русские названия, например чтобы вместо «Mem: 1024Mb» получалось «Память: 1024Мб», для приведения к нужному формату использовать grep, sed и awk.

2. Написать bash-скрипт который создает пользователя (принимает имя в качестве первого аргумента) и создает в его домашней директории файл с информацией о системе: Ядро, CPU, RAM, Дисковая подсистема (lscpu, lsblk, uname, etc). Вывод каждой команды должен быть отделен сепаратором (например ====)
**
3. Cоздать файл immortalfile, запретить удаление файла даже пользователем root и попытаться его удалить из под root, результатом должно быть “Operation not permitted”. Подсказка: CHATTR(1)
***
4. выполнить команду, разобраться что она делает и что сохраняется в file.log
env -i bash -x -l -c 'echo hello_there!' > file.log 2>&1


** и *** не обязательные  Дедлайн: 21/07/2023
